
.winpick-popup {
  padding: 16px;
  spacing: 8px;
  width: 720px;
}

.winpick-entry {
  padding: 8px 12px;
  font-size: 13pt;
}

.winpick-row {
  padding: 6px 8px;
}

.winpick-row:hover, .winpick-row:selected {
  background-color: rgba(128,128,128,0.2);
}

.winpick-title {
  padding-left: 8px;
  font-size: 11pt;
}
